 p, h1, h2, a, img {
	font: 18px blue sans-serif;
} 

p.blue_text {
	color: blue;
}

h2.section_1 > p {
	color: orange;
}

.button {
	height: 50px;
	width: 75px;
	background: red;
	float: right;
	font: 16px sans-serif;
	color: #F1F1F1;
}

.box:hover {
	color: blue;
}

.box-container {
	position: absolute;
	height: 800px;
	width: 800px;
	background: #F7F7F7;
	float: right;
	margin: 0 5 0 5;
	font: center, 16px sans-serif;
	color: #F1F1F1;
}
.box {
	height: 160px;
	width: 300px;
	background: grey;
	border: 3px solid white;
	margin-top: 25px;
	position: relative;
}








